@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: "Poppins", sans-serif;       /*font family import wala hai jo display or viewport me apply hoga*/
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background-color: #1f2029;     /*SCREEN BODY KA INTIAL COLOR BLACK HOGA*/
    min-height: 100vh;             /*PURA SCREEN KA VIEWPORT TAKES*/
    overflow-x: none;              /*scroll nhi hoga x direction me*/
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #fff;                /*paragraph color is white*/
    margin: 0;
  }
 
  .wrap {                         /*its same as container */
    position: relative;
    width: 100%;
    overflow: hidden;           /*Horizontally and Vertically Scroll nahi hoga*/
  } 
  .section {                    /*its same as container */
    position: relative;
    /* max-width: calc(100% - 40px);      wrapper ki 100%width me 40%width lega ye section container */
    width: 860px;
    margin: 0 auto;                  /*center me content aayega all */
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
  }
  
  .section-fluid {                /*its for Description and Details button*/
    position: relative;
    display: block;             /*its take 100% width*/
  }

  [type="radio"]:checked,          /*checked means jo already by default select hai button */
[type="radio"]:not(:checked) {      /*radio means all round button jisme tick krna hota hai jo yha hide kr rhe hai*/
  position: absolute;
  visibility: hidden;             /*Description,details wala round button circle remove by used this*/
}
 
/* + means  color button k baad ka label jisme color fill hai box me(that is called label) not a button
uske liye properties hai ye , button already hidden hai */
.color-btn:checked + label,           /*for details about + ,> read css combinators */
.color-btn:not(:checked) + label {
  position: relative;
  height: 40px;
  transition: all 200ms linear;   /*hover karne par border and scale hoga uska transition hai */
  border-radius: 4px;           /*round border k liye*/
  width: 40px;
  overflow: hidden;             /*color bahar nhi nikle */
  border: none;                  /*border line nahi aani chiaye */
  cursor: pointer;               /* color label pe click krne par pointer icon bane */
  color: #ffeba7;         
  margin-right: 10px;            /*margin right se 10px coz right side me all left 5 color placed hai so its gap provide*/ 
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  z-index: 10;             /*z index nhi dene par color label box apka chup jayega,just remove to see difference */
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
}

.color-btn:checked + label {          /*checked color 1 k baad wALA button) then transform perform*/
  border-color: #434343;               
  transform: scale(1.1);     
  /*BOX SIZING:BORDER box me border pe click krne par chota ho jata hai usko bada krne k liye scale use to 
  show a same size*/
}     
 
/*its for all six color of label box and background too */
label.first-color {
  margin-left: 500px;         /*without this all color label box chair k niche placed tha usko thoda right side me adjust karne k liye give*/
  background-image: url("./images/color1.jpg");
}
label.color-2 {
  background-image: url("./images/color2.jpg");
}
label.color-3 {
  background-image: url("./images/color3.jpg");
}
label.color-4 {
  background-image: url("./images/color4.jpg");
}
label.color-5 {
  background-image: url("./images/color5.jpg");
}
label.color-6 {
  background-image: url("./images/color6.jpg");
}


.img-wrap {                           /*its for chair */
  position: absolute;
  top: 100px;
  left: 0;
  width: 500px;                /* chair container ki width and height set here */
  height: 410px;
  display: inline-block;         /*inline block allow to set a height and width and also item comes in hirizontally*/
  z-index: 9;             /* chair upar show hone k liye */
  transition: all 550ms linear;
  transition-delay: 100ms;
  background-position: center top;     /*chair ki position top se center me rahegi*/
  background-size: 100%;
  background-repeat: no-repeat;      /*background ka image repeat nahi ho */
  background-image: url("./images/chair1.png");            /*when load first time this will see */
  opacity: 0;
}

/* if color 1 checked(click) then img wrap container me chair 1 ki opacity 1 means show hogi chair and 
animation shake hoga(chair hilega)  0.7 sec me */
.for-color-1:checked ~ .img-wrap.chair-1 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  
  /* cubic-bezier(n,n,n,n) - Lets you define your own values in a cubic-bezier function */
  
  /*both - The animation will follow the rules for both forwards and backwards,
  extending the animation properties in both directions ! its a Animation-fill-mode property */
  
  /*The animation-fill-mode property specifies a style for the target element when the animation
    is not playing (before it starts, after it ends, or both).*/
}

.img-wrap.chair-2 {                           /*img-wrap container me chair-2 lagaya gya hai */
  background-image: url("./images/chair2.png");
}

/* The general sibling selector (~) selects all elements that are next siblings of a specified element.
 ~ k baad wala jaha v chair 2 hai ki property select ho jaati hai */ 
.for-color-2:checked ~ .img-wrap.chair-2 {      
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97)  both;   /*cubic barier shake property copy paste hai google se */
}

.img-wrap.chair-3 {                                 /*img-wrap container me chair-3 lagaya gya hai */
  background-image: url("./images/chair3.png");
}

.for-color-3:checked ~ .img-wrap.chair-3 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-4 {                                /*img-wrap container me chair-4 lagaya gya hai */
  background-image: url("./images/chair4.png");
}

.for-color-4:checked ~ .img-wrap.chair-4 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;    /*u can set linear instead of cubic-bezier*/
}
.img-wrap.chair-5 {                                  /*img-wrap container me chair-5 lagaya gya hai */
  background-image: url("./images/chair5.png");
}

.for-color-5:checked ~ .img-wrap.chair-5 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-6 {                                    /*img-wrap container me chair-6 lagaya gya hai */
  background-image: url("./images/chair6.png");
}
.for-color-6:checked ~ .img-wrap.chair-6 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/*its just copy paste image of shake animation of google , you can also copy and apply at any project*/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}

.back-color {           /*its for background color of change with chair color, box color */
  position: fixed;          /*position adjust nhi hoga background color whole area cover*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-image: linear-gradient(196deg, #f1a9a9, #e66767);   /*gradient comes in body image*/
  transition: all 250ms linear;
  transition-delay: 300ms;
}
.back-color.chair-2 {
  background-image: linear-gradient(196deg, #4c4c4c, #262626);
  opacity: 0;
}
.for-color-2:checked ~ .back-color.chair-2 {
  opacity: 1;
}
.back-color.chair-3 {
  background-image: linear-gradient(196deg, #8a9fb2, #5f7991);
  opacity: 0;
}
.for-color-3:checked ~ .back-color.chair-3 {
  opacity: 1;
}
.back-color.chair-4 {
  background-image: linear-gradient(196deg, #97afc3, #6789a7);
  opacity: 0;
}
.for-color-4:checked ~ .back-color.chair-4 {
  opacity: 1;
}
.back-color.chair-5 {
  background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
  opacity: 0;
}
.for-color-5:checked ~ .back-color.chair-5 {
  opacity: 1;
}
.back-color.chair-6 {
  background-image: linear-gradient(196deg, #aaadac, #838786);
  opacity: 0;
}
.for-color-6:checked ~ .back-color.chair-6 {
  opacity: 1;
}

 
.info-wrap {               /*ITS FOR BUTTON SHOPPING CARD ICON K LIYE*/
  position: relative;
  margin-left: 500px;
  z-index: 10;
  display: block;
  text-align: left;
}
.title-up {             /*ITS for MODERN CHAIR TEXT */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
h2 {                                      /*Its For TELEFORD KURSI  */
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}
h4 span {                        /*its for PRICE GIVEN "$254" AND "$530" DOLLAR PRICE GIVEN */
  text-decoration: line-through;
  font-size: 20px;
  opacity: 0.6;
  padding-left: 15px;
}                          /*FOR "CHOOSE COLOR" GIVEN TEXT*/
h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
} 


.desc-btn:checked + label,            /*DEscription button K LIYE */
.desc-btn:not(:checked) + label {
  position: relative;
  transition: all 200ms linear;
  display: inline-block;            /*comes in one line */
  border: none;
  cursor: pointer;
  color: #ffeba7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-right: 25px;
  opacity: 0.5;                 /*JO CHECKED HOGA USKE BAGAL WALA THODA DETAILS HALKA DIKHEGA*/
}
.desc-btn:checked + label {               /*304 CODE OF TRANSITION ISI K LIYE HAI*/
  opacity: 1;                              /*WHEN checked then description label opacity 1 */
} 
.desc-btn:not(:checked) + label:hover {           /*when not checked hover only then opacity is 0.8*/
  opacity: 0.8;
}

.desc-sec {
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 250ms linear;           /*its use for transform 331 code */
  opacity: 0;                              /*at starting its zero text nothing show */
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);          /*when click then text niche se upar ki taraf Y(vertically)show hoti hai*/
}
.desc-sec.accor-2 {           /*description pe click krne par text jo display hota hai uske liye hai */
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#desc-1:checked ~ .desc-sec.accor-1 {       /*accor-1 is paragraph text when checked then visible */
  opacity: 1; 
  /* pointer-events: auto; */             /*look CSS POINTER EVENT FOLDER FOR DETAILS */
  transform: translateY(0);
}
#desc-2:checked ~ .desc-sec.accor-2 {      /*accor-2 is details label ka paragraph text*/ 
  opacity: 1;
  /* pointer-events: auto; */
  transform: translateY(0);
}

.section-inline {           /*its for DETAILS LEVEL BUTTON */     
  position: relative;
  display: inline-block;     /*comes in single horizontal line all details jo checked krne par aayega*/
  margin-right: 20px; 
}

.section-inline p span {       /*span k under jo text hai uske liye hai */
  font-size: 30px;
  line-height: 1.1;
}

.btn {                           /*ADD TO CART BUTTON CONTAINER K LIYE HAI */
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  width: 210px;
  border-radius: 4px;        /*round border ban ne k liye */
 letter-spacing: 1px;          /*letter k bich me space provide just increase and see difference*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
  transition: all 250ms linear;
  text-decoration: none;                              /*border pe line ban k nahi aayega */
  margin-top: 50px;
}
.icon {                                /*ADD TO CART BUTTON ICON K LIYE*/
  padding-right: 7px; 
  font-size: 20px;
}
 
.btn:before {               /*ADD TO CART BUTTON AT STARTING */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-color: #944852;
  transition: background-color 250ms 300ms ease;
}

.btn:hover {
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  background-color: #333;
}

/*When color label button pe click jiski class "color-2,3,4 kar k hai then info wrap container class
 k under "Add to cart" text kicontainer class:btn  ka color v change hoga sth me */
.for-color-2:checked ~ .info-wrap .btn:before {
  background-color: #1a1a1a;
}
.for-color-3:checked ~ .info-wrap .btn:before {
  background-color: #40566e;
}
.for-color-4:checked ~ .info-wrap .btn:before {
  background-color: #5e89b2;
}
.for-color-5:checked ~ .info-wrap .btn:before {
  background-color: #8c7f76;
}
.for-color-6:checked ~ .info-wrap .btn:before {
  background-color: #5d6160;
}

/*its a MEDIA QUERY FOR RESPONSIVE SITE WHEN RESIZE OR SMALL IT */
@media screen and (max-width: 991px) {
  .section {
    margin: 0 auto;
    text-align: center;
    max-width: calc(100% - 40px);
    width: 370px;
  }
  label.first-color {
    margin-left: 0;
  }
  .info-wrap {
    margin-left: 0;
    width: 370px;
    margin: 0 auto;
    text-align: center;
  }
  .img-wrap {
    width: 375px;
    height: 308px;
    left: 50%;
    margin-left: -190px;
  }
  .mob-margin {
    margin-top: 320px;
  }
  .desc-btn:checked + label,
  .desc-btn:not(:checked) + label {
    margin-right: 15px;
    margin-left: 15px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label {
    height: 40px;
    width: 40px;
    margin: 5px auto;
    text-align: center;
  }
  .section-inline {
    margin: 0 5px;
  }
}

@media screen and (max-width: 575px) {
  .section {
    width: 280px;
  }
  .info-wrap {
    width: 280px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label {
    height: 30px;
    width: 30px;
  }
  .section-inline p span {
    font-size: 24px;
    line-height: 1.1;
  }
  .section-inline p {
    font-size: 14px;
  }
}